Welcome to {{ ansible_hostname }}.
{{ ansible_distribution }} {{ ansible_distribution_version }}
deployed on {{ ansible_architecture }} architecture.
this version kernel is {{ ansible_kernel_version }}

